ul.nav.flex-row.justify-content-center#navigation
  li.nav-item
    img.d-block.mx-auto( src="img/angular.png")
    .title
      span Frontend
  li.nav-item
    img.d-block.mx-auto( src="img/vue.png")
    .title
      span Backend
  li.nav-item
    img.d-block.mx-auto( src="img/react.png")
    .title
      span DBA
  li.nav-item
    img.d-block.mx-auto( src="img/nodejs.png")
    .title
      span DevOps
  li.nav-item
    img.d-block.mx-auto( src="img/angular.png")
    .title
      span ERP/CRM
  li.nav-item
    img.d-block.mx-auto( src="img/angular.png")
    .title
      span Microcontrollers